[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "thirdparty/tclap"]
	path = thirdparty/tclap
	url = https://github.com/DAarno/tclap.git
[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "thirdparty/recycle"]
	path = thirdparty/recycle
	url = https://github.com/steinwurf/recycle.git
[submodule "thirdparty/tcp_pubsub"]
	path = thirdparty/tcp_pubsub
	url = https://github.com/tsingakbar/tcp_pubsub.git
